
		<div id="section4">
			<div class="container">
				<div class="container-fluid">
					<div class="pow">Agencja Modelek Krakow Models to grupa pecjalistów, związanych od lat z branżą Eventową.</div>
					<hr class="line2">
					
					<p>Nasze doświadczenie pozwala nam idealnie dobrać osoby do konkretnego wydarzenia. Działamy aktywnie na terenie całej Polski i świata. Poza większymi miastami takimi jak: Warszawa, Kraków, Poznań, Katowice, Wrocław, Trójmiasto, oferujemy modelki do wynajęcia na terenie całej Polski. Mamy również spore doświadczenie w obsłudze zagranicznych wydarzeń.</p>
					<p>Każdą realizację traktujemy wyjątkowo, wiemy jak ważne poza urodą i wdziękiem jest odpowiednie przygotowanie merytoryczne. W związku z tym wyspecjalizowaliśmy się w następujących działaniach:</p>
				</div>

				<div id="offercontent">
					<div class="row">
						<div class="col-lg-12 ">
							<div class="col-lg-3 box one">
								<p>Organizacja castingów</p>
							</div>
							<div class="col-lg-3 box">
								<img src="css/img/offer/3.jpg" alt="offer-3">
							</div>
							<div class="col-lg-6 box">
								<p class="cont">Agencja Krakow Models od lat organizuje castingi cieszące się reputacją na skalę
								światową. Selekcjonujemy
									<button type="button" name="P1" id="remove" ng-click="collapse()"  >...czytaj wiecej...</button><span id="more"> najwieksze talenty by następnie zadbać o rozwój wszystkich talentów naszych modelek. Na naszych castingi przybywają agenci, fotografowie oraz przedstawiciele najwiekszych światowych marek związanych z branżą modelingową.</span>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 ">
							<div class="col-lg-3 box two ">
								<p>Imprezy targowe</p>
							</div>
							<div class="col-lg-3 box">
								<img src="css/img/offer/9.jpg" alt="offer-9">
							</div>
							<div class="col-lg-6 box">
								<p class="cont">Uczestnictwo w takim wydarzeniu jak Targi czy kongresy to dla każdej firmy duże wyzwanie, zwłaszcza jeśli odbywają się one
									<button type="button" name="P2" id="remove" ng-click="collapse()" >...czytaj wiecej...</button><span id="more"> w dużych miastach. Najważniejsze, aby pośród setek firm zostać zauważonym. Nasze modelki na
									kongresach przyciagają uwagę, prowadzą aktywne działania promocyjne, zwiększają zainteresowanie stoiskiem.</span>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 ">
							<div class="col-lg-3 box one">
								<p>Fotografia</p>
							</div>
							<div class="col-lg-3 box">
								<img src="css/img/offer/6.jpg" alt="offer-6">
							</div>
							<div class="col-lg-6 box">
								<p class="cont">W swojej ofercie posiadamy również organizację profesjonalnych sesji zdjęciowych z udziałem fotomodelek i modelek.
									<button type="button" name="P3" id="remove" ng-click="collapse()" >...czytaj wiecej...</button><span id="more"> Współpracujemy w tym zakresie z wieloma uznanymi fotografami z całego swiata, których doświadczenie i zmysł estetyczny zagwarantują Państwu najwyższą jakość zdjęć.</span>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 ">
							<div class="col-lg-3 box two">
								<p>Pokazy mody</p>
							</div>
							<div class="col-lg-3 box">
								<img src="css/img/offer/2.jpg" alt="offer-2">
							</div>
							<div class="col-lg-6 box">
								<p class="cont">Pokazy mody Krakow Models odbywają się w najwiekszych miastach całego świata od Tokio po Nowy York. 	Nasza pasja,<button type="button" name="P4" id="remove" ng-click="collapse()" >...czytaj wiecej...</button><span id="more"> profesjonalizm oraz
									doświadczenie w organizowaniu tego typu imprez przekłada się na zainteresowanie mediów. Nasze modelki wystepowały już dla wielu firm  min. H&M, Zara, Wittchen, Triumph, Ecco czy River Island.</span>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 ">
							<div class="col-lg-3 box one">
								<p>Sesje reklamowe</p>
							</div>
							<div class="col-lg-3 box">
								<img src="css/img/offer/5.jpg" alt="offer-5">
							</div>
							<div class="col-lg-6 box"><p class="cont">Sesja reklamowa to coś bez czego żadna poważna firma się nie obedzie. Nasze
								modelki podniosą atrakcyjność produktu <button type="button" name="P5" id="remove" ng-click="collapse()" >...czytaj wiecej...</button><span id="more">oraz zapewnią profesjonalne wyeksponowanie reklamy. Pracowaliśmy już dla branży fotograficznej, sportowej, ubraniowej, teleinformatycznej, gastronomicznej czy motoryzacyjnej i czekamy na kolejne wyzwania.</span></p>
							</div>
						</div>
					</div>

				</div>
			</div>	
		</div>
					